{% extends 'user/profile.html' %}
{% block dashboardContent %}
<form class="needs-validation" novalidate="" method="post" action="{% url 'category_product_create' %}?category_code={{categoryItems.category_code}}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="name">Tên danh mục</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="CÀ PHÊ" value="{{categoryItems.category_name}}" required="">
        </div>
    </div>
    <hr class="mb-4">
    <button class="btn px-4 btn-primary " type="submit">Lưu</button>
    <a href="{% url 'category_product_view' %}" class="btn px-4 btn-link ">Trở về</a>
</form>
{% endblock dashboardContent %}