{% extends 'base.html' %}
{% load static %}
{% load cart_tags %}
{% block content %}
{% if info_item_describe is None %}
    <h1>{{error}}</h1>
{% else %}
<div class="album py-5">
    <div class="container"> 
        <!--Section: Block Content-->
        <section class="mb-5">

        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">

            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

                <div class="row product-gallery mx-1">

                    <div class="col-12 mb-0">
                        <figure class="view overlay rounded z-depth-1 main-img">
                            <a href={{ info_item_image.url }} data-size="710x823">
                                <img src={{ info_item_image.url }} class="img-fluid z-depth-1">
                            </a>
                            {% comment %} <div class="d-block img-fixed" style="background:url('{{info_item.menuItem.image}}');background-size:cover">&nbsp;</div> {% endcomment %}
                        </figure>
                    </div>
                </div>
            </div>

            </div>
            <div class="col-md-6">

            <h2><strong> {{ info_item_name }} </strong> </h2>
            <hr>
            <h5><span class="mr-1"><strong>{{ info_item_price | displayPrice }} </strong></span> </h5>
            <p class="pt-1">{{ info_item_describe }}</p>

            <a href="{% url 'addItemToCart' %}?id={{ info_item_id }}" class="btn btn-warning btn-md mr-1 mb-2" role="button"> <i
                class="fas fa-shopping-cart pr-2"></i>Thêm vào đơn</a>
            </div>
            
        </div>

        </section>
        <!--Section: Block Content-->
    </div>
</div>

{% endif%}
{% endblock content %}