{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if info_item.describe is None %}
    <h1>{{error}}</h1>
{% else %}
<div class="album py-5">
    <div class="container"> 
        <!--Section: Block Content-->
        <section class="mb-5">

        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">

            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

                <div class="row product-gallery mx-1">

                <div class="col-12 mb-0">
                    <figure class="view overlay rounded z-depth-1 main-img">
                        <a href={{link_image}} data-size="710x823">
                            <img src={{link_image}} class="img-fluid z-depth-1">
                        </a>
                        <div class="d-block img-fixed" style="background:url('{{info_item.menuItem.image}}');background-size:cover">&nbsp;</div>
                    </figure>
                </div>
                <div class="col-12">
                    <div class="row">
                    <div class="col-3">
                        <div class="view overlay rounded z-depth-1 gallery-item">
                        <img src="{% static 'info_item.menuItem.image' %}"
                            class="img-fluid">
                        <div class="mask rgba-white-slight"></div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>

            </div>

            </div>
            <div class="col-md-6">

            <h2><strong> {{ info_item.menuItem.name }} </strong> </h2>
            <hr>
            <h5><span class="mr-1"><strong>{{ info_item.menuItem.price }} <span> &#8363; </span> </strong></span> </h5>
            <p class="pt-1">{{ info_item.describe }}</p>

            <a href="{% url 'addItemToCart' %}?id={{info_item.menuItem.id}}" class="btn btn-warning btn-md mr-1 mb-2" role="button"> <i
                class="fas fa-shopping-cart pr-2"></i>Thêm vào giỏ</a>
            {% comment %} <button type="button" class="btn btn-primary btn-md mr-1 mb-2">Buy now</button>


            <button type="button" class="btn btn-light btn-md mr-1 mb-2"><i
                class="fas fa-shopping-cart pr-2"></i>Add to cart</button> {% endcomment %}
            </div>
            
        </div>

        </section>
        <!--Section: Block Content-->
    </div>
</div>

{% endif%}
{% endblock content %}